*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    overflow-x: hidden;
}

header {
    background-color: #1f2235;
    padding: 30px 98px;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-item {
    list-style: none;
    margin-right: 38px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.nav-item a:hover{
    color: #ff4a57;
}

#home {
    background-color: #24263B;
    padding: 28px 98px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    padding-top: 120px;
    
}

.icons {
    margin-right: 18px;
    background-color: #24263B;
    color: #fff;
    padding: 8px 10px;
    border: 2px solid #ff4a57;
    border-radius: 50%;
}

.icons:hover {
    background-color: #ff4a57;
}

#home-image {
    width: 100%;
    height: 550px;
    margin-left:70%;
    margin-top:-33%;
}

#name,h2 {
    color: white;
    text-align: left;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#work {
    margin-top:20px;
    width: 48rem;
    color: white;
    font-size: 18px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace
}

.click {
    margin-top: 32px;
    width: 11em;
    height: 4em;
    border-radius: 3em;
    background: inherit;
    border: 4px solid red;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

#youtube {
    margin-top:-4.5%;
    margin-left: 160px;
    padding-top: 9px;
    padding-left: 44px;
    width: 5em;
    height: 45px;
    font-size: 20px;
    border-radius: 3em;
    background: red;
    border: none;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.box, .box2 {
    width: 300px; 
    height: 47.5vh;
    background-color: #1F2235;
    margin: 16px;
    border-radius: 16px;
}

.box, .box2 {
    background-color: #1F2235;
    transition-duration: 1s;
}

.boxicon {
    margin-left:8%;
    margin-top: 15%;
    width: 40%;
    font-size: 30px;
    color: #ff4a57;
}


#letter-head {
    margin-left:50px;
    font-size: 20px;
    color: #fff;
    margin-left: 50px;
}

#letter {
    margin-top: 5%;
    width: 230px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin-left: 40px;
}

.box:hover,.box2:hover {
    background-color: #ff4a57;
}

.p-all {
    margin-left: 50px;
    color : white;
    text-align: center;
}

.h-all {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color : white;
}

.small-sv {
    text-align: center;
    color: #FF4A57;
}
